<div class="modal-header">
  <h4 class="modal-title">{{btnTitle}} Ticket</h4>
  <button type="button" class="close float-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="i.e. Bug Fixes">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows=5 class="form-control" id="description" formControlName="desc" placeholder="i.e. Performed operation on multiple files"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="cardForm?.invalid">{{btnTitle}}</button>
  </form>
</div>
